@charset "utf-8";
/* CSS Document */

body{
    display: grid;
    grid-template-columns: 1fr 11em;
    grid-template-rows: auto auto 510px auto;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main add"
        "footer footer";
    grid-column-gap: 12px;
    grid-row-gap: 10px;
}

section{
    grid-area: main;
    height: 510px;
    overflow-y: scroll;
    overflow-x: hidden;
}

section::-webkit-scrollbar{
    display: none;
}

section article{
    transition-property: color, background-color;
    transition-duration: 0.5s;
    background-color: #8C8283;
    border: 3px solid black;
    margin-bottom: 10px;
    border-radius: 7px;
}

section article:hover{
    transition-property: color, background-color;
    transition-duration: 0.5s;
    background-color: #CCC5C5;
}

header{
    margin-bottom: 0px;
    grid-area: header;
}

.bannerprincipal{
    width: 100%;
    height: 250px;
    margin-bottom: 0px;
}

nav{
    grid-area: nav;
    position: sticky;
    top: 0px;
    /*width: 100%;*/
}

nav *{
    padding: 0px;
    margin: 0px;
}

ul, ol{
    list-style: none;
    text-align: center;
}

.navegacion li a{
    transition-property: color, background-color;
    transition-duration: 0.5s;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navegacion li a:hover{
    transition-property: color, background-color;
    transition-duration: 0.5s;
    color: black;
    background-color: #434343
}

.navegacion > li{
    float: left;
    width: 20%;
}

.navegacion li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.navegacion li:hover > ul{
    display: block;
}

.navegacion li ul li{
    position: relative;
}

.navegacion li ul li ul{
    right: -140px;
    top:0px;
}

aside{
    grid-area: add;
}

.bannerlaterales img{
    width: 100%;
    margin-bottom: 20px
    
}


.articulos{
    min-width: 200px;
    width: 94%;
    margin-top: 0px;
    margin-left: 3%;
    max-height: 50%;
}

.artis1 p{
    width: 100%;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 0px;
    text-align: justify;
}

.artis1 h2{
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
}

.articulos2{
    width:  94%;
    min-width: 200px;
    margin-top: 0px;
    height: 100px;
    margin-left: 3%;
    max-height: 50%;
}

.artis2 h2{
    margin-bottom: 0px;
    width: 100%;
}

.artis2 p{
    width: 100%;
    margin-top: 1px;
    margin-bottom: 5px;
}

.artis1, .artis2{
    break-inside: avoid;
}

footer{
    grid-area: footer;
    background: #ACACAC;
}

footer form div{
    text-align: center;
}

footer form{
    text-align: center;
}

form h3, div h4{
    margin-top: 5px;
    margin-bottom: 10px
}

#correo{
    margin-bottom: 15px;
    
}

#copyright{
    break-inside: avoid;
}



@media screen and (min-width: 400px){
    .covertura {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-column-gap: 15px;
        grid-auto-rows: 62%;
        /*column-width: 250px;*/
    }
    
    footer{
        column-count: 2;
    }
}

/*@media screen and (max-width: 600px){
    .navegacion > li{
        font-size: 80%;
    }
}*/



































