.menuBtn{
	background-color: transparent;
	border: none;
	color: $letrasBtn;
    width: 100%;
	
	&:hover{
		background-color: $hoverBtn;
	}
	
	&:focus{
		background-color: $fondoBtnFocus;
		color: $letrasBtnFocus;
	}
}

.menuBtnDark{
	background-color: transparent;
	border: none;
	color: $letrasBtn;
    width: 100%;
	
	&:hover{
		background-color: $hoverBtn;
	}
	
	&:focus{
		background-color: $fondoBtnFocus;
		color: $letrasBtnFocus;
	}
}

a{
    color: $letrasBtnFocus;
	text-decoration: none;
    &:hover{
        color: $letrasBtnFocus;
		text-decoration-line: underline;
    }
}

.verMasBtn{
	background-color: $fondoBtnTop;
	padding: 0.5em;
}

.circularButton{
	background-color: transparent;
	border-radius: 50%;
	border: none;
	padding: 5px;

	&:hover{
		background-color: $fondoBtnTop;
	}
}

.marcoCircularBtn{
	width: 3.3em;
	background-color: $fondoBtnTop;
	border-radius: 50%;
	padding: 12px;
}

.closeBtn{
	border-radius: 50%;
	background-color: $fondoBtnTop;
	border: none;
	color: gray;

	&:hover{
		background-color: $fondoBtnDark;
	}
}

.publicBtn{
	background-color: $fondoBtnTop;
	border-radius: 5px;
	border: none;
	color: $letras;
	padding: 5px;
	font-size: 14px;
	font-weight: 600;

	&.hover:hover{
		background-color: $hoverBtn-2;
	}
}

.hoverBtn1{
	background-color: $hoverBtn;

	&:hover{
		background-color: $fondoBtnTop;
	}
}

.hoverBtn1-static{
	background-color: $hoverBtn;
}