//Todos los colores personalizados

$fondoPrincipal: #18191a;
$fondoSegundo: rgba(47, 47, 47, 1);
$fondoTercero: rgba(42, 42, 42, 0.5);
$fondoComentario: rgba(94, 94, 94, 0.45);

$fondoBtnTop: rgba(90, 90, 90, 0.5);
$fondoBtnFocus: rgba(0, 96, 180, 0.25);
$fondoBtnDark: rgba(100, 100, 100, 0.5);

$letras: #cfd1d7;
$letrasBtn: rgba(116, 116, 116, 1);
$letrasBtnFocus: rgba(41, 143, 234, 1);
$titulosLetras: #E4E2E2;

$hoverBtn: rgba(107, 107, 107, 0.25);
$hoverBtn-2: rgba(107, 107, 107, 0.45);

$iconBorderColor: #297be6;

$divisora: #494c4c;