.checkLabel{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&:hover input ~ .checkmark {
	  
	}

	& input:checked ~ .checkmark {
		background-color: transparent;
		outline: 3px solid $brandBlue;
	}

	& input:checked ~ .checkmark:after {
	  display: block;
	}

	& .checkmark:after {
	  top: 3.5px;
	  left: 0.17em;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: $brandBlue;
	}
}

.checkmark {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: transparent;
  outline: 2px solid $letras;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}